Springer[[:space:]]Handbook[[:space:]]of[[:space:]]Robotics[[:space:]]by[[:space:]]Bruno[[:space:]]Siciliano,[[:space:]]Oussama[[:space:]]Khatib[[:space:]](z-lib.org).pdf filter=lfs diff=lfs merge=lfs -text
控制系统设计指南[[:space:]][[:space:]]原书第4版.pdf filter=lfs diff=lfs merge=lfs -text
